<html>
<head>
    <title>SPK Kuota Murah</title>
    <script src="./vue.js"></script>
</head>
<body>

    <div id="app">
        <div>
            <p>Tambah Paket Baru</p>
            <input v-model.number="kuotaBaru" type="number">
            <input v-model.number="hargaBaru" type="number">
            <button @click="tambahPaket">tambahPaket</button>
        </div>
        <div id="paket" v-show="pakets.length">
            
            <p>Kuota:  <button @click="hapusSemua">Hapus semua paket</button></p>
           
            <ol>
                <li v-for="(paket, id) in pakets" :key="id">{{paket.kuota}} gb, harga: Rp. {{paket.harga}}</li>
            </ol>
        </div>
        <div id="termurah" v-show="pakets.length">
            <p>Termurah: </p>
            <ol>
                <li v-for="(paket, id) in hasilUrut" :key="id">{{paket.kuota}} gb, harga: Rp. {{paket.harga}}</li>
            </ol>
        </div>
    </div>

    <script src="index.js"></script>
</body>
</html>